.WaveformToggle {
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 60px;
  height: 60px;
  margin: 10px;
  clip-path: circle(40% at 50% 50%);
  transition: background-color 0.1s;
  object-fit: cover;
}

.WaveformToggle img {
  width: 80px;
  height: 80px;
  transform: translate(30, 10);
  filter: invert(100%);
}

.WaveformToggle.focus {
  color: #212121;
  background-color: #1db954;
  clip-path: circle(24.6% at 50% 50%);
}
