.NoteSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 60px;
  height: 60px;
  margin: 10px;
  clip-path: circle(30% at 50% 50%);
  transition: background-color 0.2s;
}

.NoteSlider.focus {
  background-color: #1db954;
  color: white;
  clip-path: circle(24.6% at 50% 50%);
}
