.toggle-container {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  font-size: 11px;
  width: 30px;
  height: 20px;
}

.focused {
  background: #fff;
  color: #000;
}
