body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#visual {
  margin-top: 100px;
  height: 50vh;
  max-height: 360px;
  width: 50vh;
  max-width: 360px;
}
